- content_for :header do
  = javascript_include_tag "index"

.row
  .columns.small-12.medium-5.large-7.image-container
    .photo
      %img{"data-interchange" => "[#{image_path("bye-tis-249x300.png")}, (small)], [#{image_path("bye-tis-374x450.png")}, (medium)], [#{image_path("bye-tis-548x659.png")}, (large)]", class: "shadowed"}
  .columns.small-12.medium-7.large-5
    %h1.title Gone into Hiding
    %p.why After kicking it for seven years, Galgathor's ready to hibernate. For all our artists, clients, and lurkers, we tip our hats off to you. You made The Inksquad what it is, what it was. Here's to unchartered waters.
    %p Cheers!
    %img{"data-interchange" => "[#{image_path("logo-200x83.png")}, (small)], [#{image_path("logo-200x83.png")}, (medium)], [#{image_path("logo-200x83.png")}, (large)]"}
    %p Ramon &amp; Trina
    %p.artists Are you an artist with royalties left unclaimed? Contact us at hello@theinksquad.com.

%svg{height: "0", xmlns: "http://www.w3.org/2000/svg"}
  %filter#drop-shadow
    %fegaussianblur{in: "SourceAlpha", stddeviation: "4"}
    %feoffset{dx: "5", dy: "5", result: "offsetblur"}
    %feflood{"flood-color" => "rgba(0,0,0,0.5)"}
    %fecomposite{in2: "offsetblur", operator: "in"}
    %femerge
      %femergenode
      %femergenode{in: "SourceGraphic"}
